@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.table-placeholder {
  margin-top: 10rem;
  margin-left: 2rem;
}

#form-incomplete {
  color: red;
}

.hidden {
  visibility: hidden;
}

thead tr th {
  max-width: 5rem;
  vertical-align: middle;
}

thead tr th:hover {
  cursor: pointer;
}

thead tr th.ascending::after {
  font-family: "bootstrap-icons";
  content: "\F128";
  display: inline-block;
  margin-left: 0.3rem;
}

thead tr th.descending::after {
  font-family: "bootstrap-icons";
  content: "\F148";
  display: inline-block;
  margin-left: 0.3rem;
}

.filter-icon {
  margin-left: 0.3rem;
}

@media only screen and (min-width: 768px) {
  #row-main {
    min-height: 31rem;
  }
}

@media only screen and (min-height: 900px) {
  #row-main {
    min-height: 45rem;
  }
}
